/*Variables liées aux couleurs*/
$Color-card-background : #B0E0E6;
$Color-confirm : #50C878;
$Color-input-border : #50C878;
$Color-button-border : grey;
$color-date-background : #3AB3BD;
$color-date : black;
$color-header:#0071c5;
$color-background:#D3D3D3;